*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    background-color: hsl(200, 90%, 20%);
    position: relative;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: hsl(200, 60%, 60%);
    width: 60%;
    height: 500px;
    transform: translate(35% , 25%);
    box-shadow: 4px 4px 10px #000;
    border-radius: 2rem;
}



p{
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
}