*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    background-color: hsl(200, 90%, 20%);
}

.flex{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    padding: 5rem;
    border-radius: 1rem;
    gap: 22px;
    align-items: center;
    justify-content: center;
}

.item{
    width: 100%;
    box-shadow: 4px 4px 8px #999;
    border-radius: 1rem;
    cursor: pointer;
}

p{
    font-size: 2rem;
    padding: 2rem;
    font-weight: bold;
    color: #999;    
    position: absolute;
    top: 11px;
    right: 0;

}

.text{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}